<div class="p-grid p-formgrid row">
  <div class="p-field row">
    <div class="p-d-flex p-ai-end col-12">
      <div class="col-md-1" style="margin-left: -2.78%;">
        <p-skeleton borderRadius="8px" height="7rem"></p-skeleton>
      </div>
      <div class="col-md-1">
        <p-skeleton borderRadius="8px" height="3.5rem"></p-skeleton>
      </div>
      <div class="col-md-1">
        <p-skeleton borderRadius="8px" height="22.75rem"></p-skeleton>
      </div>
      <div class="col-md-1">
        <p-skeleton borderRadius="8px" height="12.5rem"></p-skeleton>
      </div>
      <div class="col-md-1">
        <p-skeleton borderRadius="8px" height="10.5rem"></p-skeleton>
      </div>
      <div class="col-md-1">
        <p-skeleton borderRadius="8px" height="1.75rem"></p-skeleton>
      </div>
      <div class="col-md-1">
        <p-skeleton borderRadius="8px" height="14rem"></p-skeleton>
      </div>
      <div class="col-md-1">
        <p-skeleton borderRadius="8px" height="15.75rem"></p-skeleton>
      </div>

      <div class="col-md-1">
        <p-skeleton borderRadius="8px" height="8.75rem"></p-skeleton>
      </div>

      <div class="col-md-1">
        <p-skeleton borderRadius="8px" height="17.5rem"></p-skeleton>
      </div>
      <div class="col-md-1">
        <p-skeleton borderRadius="8px" height="19.25rem"></p-skeleton>
      </div>
      <div class="col-md-1">
        <p-skeleton borderRadius="8px" height="5.25rem"></p-skeleton>
      </div>
      <div class="col-md-1">
        <p-skeleton borderRadius="8px" height="21rem"></p-skeleton>
      </div>

    </div>
  </div>
</div>
