<!-- #branchesForm="ngForm" -->
<form (ngSubmit)="saveTaxCategory()"  class="flex flex-col md:flex-row gap-8">
    <div class="card flex flex-col gap-4">
        <div class="flex flex-col gap-2">
            <label for="branch_name"><strong class="text-red-600">*</strong>Tax Category Name</label>
            <input 
            pInputText 
            type="text"
             [(ngModel)]="taxCategory.name" 
             name="name" 
             autocomplete="off" 
             class="form-control"
             required 
              #branchName="ngModel" 
              [ngClass]="{ 'p-invalid': branchName.touched && branchName.invalid }"/>
            <div *ngIf="branchName.errors && branchName.touched">
                <small class="text-red-600" *ngIf="branchName.errors['required']">Branch name is required</small>
            </div>
        </div>
        <div class="flex flex-col gap-2">
            <label for="name1">Name</label>
            <input pInputText id="name1" type="text" />
        </div>
        <div class="flex flex-col gap-2">
            <label for="email1">Email</label>
            <input pInputText id="email1" type="text" />
        </div>
        <div class="flex flex-col gap-2">
            <label for="age1">Age</label>
            <input pInputText id="age1" type="text" />
        </div>
    </div>

</form>