<div class="p-grid p-formgrid row">
  <div class="p-field row">
    <div class="p-d-flex p-ai-end col-12" >
      <div class="col-md-1" style="margin-left: -2.78%">
        <p-skeleton borderRadius="8px" width="70%" height="8.75rem"></p-skeleton>
        <p-skeleton borderRadius="8px" width="70%" height="9.75rem"></p-skeleton>
      </div>

      <div class="col-md-1">
        <p-skeleton borderRadius="8px" width="70%" height="7.75rem"></p-skeleton>
        <p-skeleton borderRadius="8px" width="70%" height="1.75rem"></p-skeleton>
      </div>

      <div class="col-md-1">
        <p-skeleton borderRadius="8px" width="70%" height="5.75rem"></p-skeleton>
        <p-skeleton borderRadius="8px" width="70%" height="5.75rem"></p-skeleton>

      </div>

      <div class="col-md-1">
        <p-skeleton borderRadius="8px" width="70%" height="3.5rem"></p-skeleton>
        <p-skeleton borderRadius="8px" width="70%" height="5.25rem"></p-skeleton>
      </div>
      <div class="col-md-1">
        <p-skeleton borderRadius="8px" width="70%" height="7.25rem"></p-skeleton>
        <p-skeleton borderRadius="8px" width="70%" height="5.25rem"></p-skeleton>
      </div>

      <div class="col-md-1">
        <p-skeleton borderRadius="8px" width="70%" height="9rem"></p-skeleton>
        <p-skeleton borderRadius="8px" width="70%" height="9rem"></p-skeleton>
      </div>

      <div class="col-md-1">
        <p-skeleton borderRadius="8px" width="70%" height="5.5rem"></p-skeleton>
        <p-skeleton borderRadius="8px" width="70%" height="5.5rem"></p-skeleton>

      </div>
      <div class="col-md-1">
        <p-skeleton borderRadius="8px" width="70%" height="5.5rem"></p-skeleton>
        <p-skeleton borderRadius="8px" width="70%" height="7.5rem"></p-skeleton>
      </div>

      <div class="col-md-1">
        <p-skeleton borderRadius="8px" width="70%" height="4rem"></p-skeleton>
        <p-skeleton borderRadius="8px" width="70%" height="3rem"></p-skeleton>
      </div>

      <div class="col-md-1">
        <p-skeleton borderRadius="8px" width="70%" height="7.5rem"></p-skeleton>
        <p-skeleton borderRadius="8px" width="70%" height="10rem"></p-skeleton>
      </div>
      <div class="col-md-1">
        <p-skeleton borderRadius="8px" width="70%" height="11rem"></p-skeleton>
        <p-skeleton borderRadius="8px" width="70%" height="11.75rem"></p-skeleton>
      </div>
      <div class="col-md-1">
        <p-skeleton borderRadius="8px" width="70%" height="11.25rem"></p-skeleton>
        <p-skeleton borderRadius="8px" width="70%" height="18.25rem"></p-skeleton>

      </div>
      <div class="col-md-1">
        <p-skeleton borderRadius="8px" width="70%" height="10.5rem"></p-skeleton>
        <p-skeleton borderRadius="8px" width="70%" height="10.5rem"></p-skeleton>

      </div>
    </div>
  </div>
</div>
