<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col md:flex-row gap-8">
  <div class="w-full">
    <div class="card flex flex-col gap-4">

      <!-- TYPE FIELD -->
      <div class="flex flex-col gap-2">
        <label for="type"><strong class="text-red-600">*</strong> Type</label>
        <input 
        pInputText 
        id="type" 
        type="text" 
        formControlName="type" 
        autocomplete="off" 
        required
        [ngClass]="{ 'p-invalid': submitted && f['type'].errors }" />
        <div *ngIf="(submitted || f['type'].touched) && f['type'].errors">
          <small class="text-red-600" *ngIf="f['type'].errors['required']">Type is required</small>
          <small class="text-red-600" *ngIf="f['type'].errors['minlength']">Type must be at least {{ f['type'].errors['minlength'].requiredLength }} characters.</small>
          <small class="text-red-600" *ngIf="f['type'].errors['maxlength']">Type cannot exceed  {{ f['type'].errors['maxlength'].requiredLength }} characters.</small>
          <small class="text-red-600" *ngIf="f['type'].errors?.['xssSqlDetected']">Invalid characters detected (XSS / SQL keywords blocked)</small>
        </div>
      </div>

      <!-- DESCRIPTION FIELD -->
      <div class="flex flex-col gap-2">
        <label for="description"><strong class="text-red-600">*</strong> Description</label>
        <input 
        pInputText 
        id="description" 
        type="text" 
        formControlName="description" 
        autocomplete="off"
        [ngClass]="{ 'is-invalid': submitted && f['description'].errors }" />
        <div *ngIf="(submitted || f['description'].touched) && f['description'].errors">
          <small class="text-red-600" *ngIf="f['description'].errors['required']">Description is required</small>
          <small class="text-red-600" *ngIf="f['description'].errors['minlength']">Description must be at least {{ f['description'].errors['minlength'].requiredLength }} characters.</small>
          <small class="text-red-600" *ngIf="f['description'].errors['maxlength']">Description cannot exceed {{ f['description'].errors['maxlength'].requiredLength }} characters.</small>
          <small class="text-red-600" *ngIf="f['type'].errors?.['xssSqlDetected']">Invalid characters detected (XSS / SQL keywords blocked)</small>
        </div>
      </div>

      <!-- Buttons -->
      <div class="flex gap-4 mt-4">
        <button 
        pButton 
        pRipple 
        label="Save" 
        type="submit" 
        [loading]="loading" 
        icon="pi pi-check-circle"
        class="p-button-rounded p-button-outlined p-button-success mr-2">
      </button>

        <button 
        pButton 
        pRipple 
        label="Reset" 
        type="reset" 
        icon="pi pi-times-circle" 
        (click)="onReset()"
        class="p-button-rounded p-button-outlined p-button-danger">
      </button>
      </div>
    </div>
  </div>
</form>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>