:host ::ng-deep .custom-datepicker,
:host ::ng-deep .custom-datepicker .p-inputwrapper,
:host ::ng-deep .custom-datepicker .p-inputtext {
  @apply w-full;
}

:host ::ng-deep .custom-datepicker .p-inputtext,
:host ::ng-deep .custom-datepicker .p-datepicker-trigger {
  @apply h-12;
}
