<app-floating-configurator />
<div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[60vw] overflow-hidden">
    <ul class="floating-circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="flex flex-col items-center justify-center">
        <div style="border-radius: 56px; padding: 0.2rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
            <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
                <div class="pt-3 pb-2 text-center">
                    <a routerLink="/" class="card-title text-center pb-0 fs-3">
                        <!-- <img class="img-responsive text-center awash-bank-login-logo" src="assets/img/awashbank.png" alt="awashbank logo" style="max-width: 100%; height: auto" /> -->

                        <img class="img-responsive awash-bank-login-logo w-3/5 mx-auto" src="assets/img/awashbank.png" alt="awashbank logo" />
                    </a>
                </div>
                <div class="pt-4">
                    <h5 class="card-title text-center pb-0 fs-4">Welcome to tms!</h5>
                </div>

                <form #f="ngForm" name="form" (ngSubmit)="onSubmit()" novalidate>
                    <div>
                        <label for="username" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Fussion Username</label>
                        <input pInputText name="username" type="text" placeholder="Fussion Username" class="w-full mb-2 h-14" [(ngModel)]="form.username" required #usernameModel="ngModel" />
                        <div *ngIf="f.submitted && usernameModel.invalid" class="text-red-500 mb-2">
                            <small *ngIf="usernameModel.errors?.['required']">fussion username is required.</small>
                        </div>

                        <label for="password1" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Password</label>
                        <p-password name="password" [(ngModel)]="form.password" placeholder="Password" [toggleMask]="true" [feedback]="false" required #passwordModel="ngModel" styleClass="w-full  mb-2" inputStyleClass="h-14 w-full" />
                        <div *ngIf="f.submitted && passwordModel.invalid" class="text-red-500 mb-2">
                            <small *ngIf="passwordModel.errors?.['required']">Password is required.</small>
                        </div>

                        <div class="flex items-center justify-between mt-2 mb-8 gap-8">
                            <div class="flex items-center">
                                <p-checkbox [(ngModel)]="checked" id="rememberme1" name="rememberme" binary class="mr-2"></p-checkbox>
                                <label for="rememberme1">Remember me</label>
                            </div>
                            <span class="font-medium no-underline ml-2 text-right cursor-pointer text-secondary">Forgot password?</span>
                        </div>

                        <p-button label="Sign In" styleClass="w-full" type="submit" [disabled]="f.invalid || loading" [loading]="loading"> </p-button>

                        <div *ngIf="isLoginFailed" class="text-red-600 font-medium mt-2">
                            <span class="block sm:inline">{{ errorMessage }}</span>
                        </div>
                    </div>

                    <div class="mt-4 text-center">
                        <a routerLink="/signup" class="text-blue-600 hover:underline font-medium">Sign Up</a>
                    </div>

  
                </form>


                                 <div class="mt-4 text-center">
    <button
        (click)="registerApis()"
        class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition font-medium"
    >
        Swagger Register
    </button>
</div>
            </div>
        </div>
    </div>
</div>
