<form (ngSubmit)="saveFunctionality()" [formGroup]="functionalityForm" class="flex flex-col gap-8">

  <!-- Category -->
  <div class="flex flex-col gap-2">
    <label for="categories"><strong class="text-red-500">*</strong> Category</label>
    <p-multiSelect
      inputId="categories"
      formControlName="categories"
      [options]="categories"
      [filter]="true"
      display="chip"
      optionLabel="label"
      optionValue="value"
      placeholder="Select categories"
      class="w-full"
      [class.p-invalid]="categoriesControl.touched && categoriesControl.invalid">
    </p-multiSelect>

    <p-message severity="error" size="small" variant="simple"
      *ngIf="categoriesControl.touched && categoriesControl.invalid">
      At least one category is required
    </p-message>
  </div>

  <!-- Method -->
  <div class="flex flex-col gap-2">
    <label for="method"><strong class="text-red-500">*</strong> Method</label>
    <p-select
      inputId="method"
      formControlName="method"
      [options]="methods"
      optionLabel="label"
      optionValue="value"
      placeholder="Select method"
      [filter]="true"
      (onChange)="checkNameExists()"
      class="w-full"
      [class.p-invalid]="methodControl.touched && methodControl.invalid || nameExists">
    </p-select>

    <div *ngIf="methodControl.touched && methodControl.invalid">
      <p-message severity="error" size="small" variant="simple">Method is required</p-message>
    </div>
    <p-message severity="error" size="small" variant="simple" *ngIf="nameExists">
      Functionality with this name and method already exists
    </p-message>
  </div>

  <!-- Name -->
  <div class="flex flex-col gap-2">
    <label for="name"><strong class="text-red-500">*</strong> API Name</label>
    <input
      pInputText
      id="name"
      formControlName="name"
      placeholder="Enter functionality name"
      pattern="[a-zA-Z\/_\-]+"
      (blur)="checkNameExists()"
     (input)="validateXss($event, 'name')"
      maxlength="60"
      class="w-full"
      title="Only letters, /, -, _ allowed"
      [class.p-invalid]="nameControl.touched && nameControl.invalid || nameExists"
    />

    <div *ngIf="nameControl.touched && nameControl.invalid">
      <p-message severity="error" size="small" variant="simple"
        *ngIf="nameControl.errors?.['required']">Name is required</p-message>
      <p-message severity="error" size="small" variant="simple"
        *ngIf="nameControl.errors?.['pattern']">Only letters, /, -, and _ are allowed</p-message>
    </div>

    <p-message severity="error" size="small" variant="simple" *ngIf="nameExists">
      Functionality with this name and method already exists
    </p-message>

    <small *ngIf="invalidXssName" class="text-red-600 block font-medium">
      Invalid input detected! (possible malicious content)
    </small>
  </div>

  <!-- Description -->
  <div class="flex flex-col gap-2">
    <label for="description"><strong class="text-red-500">*</strong> Description</label>
    <textarea
      pInputTextarea
      id="description"
      formControlName="description"
      placeholder="Enter functionality description"
      rows="3"
      maxlength="150"
      (input)="validateXss($event, 'description')"
      class="w-full"
      [class.p-invalid]="descriptionControl.touched && descriptionControl.invalid">
    </textarea>

    <p-message severity="error" size="small" variant="simple"
      *ngIf="descriptionControl.touched && descriptionControl.invalid">
      Description is required
    </p-message>
  
    <small *ngIf="invalidXssDescription" class="text-red-600 block font-medium">
      Invalid input detected! (possible malicious content)
    </small>
  </div>

  <!-- Buttons -->
  <div class="mt-6 flex gap-4 justify-start">
    <button
      pButton
      type="submit"
      label="Save"
      icon="pi pi-check"
      class="p-button-success p-button-rounded"
      [loading]="functionalityLoading"
      [disabled]="functionalityForm.invalid || nameExists || invalidXssName || invalidXssDescription">
    </button>

    <button
      pButton
      type="button"
      label="Cancel"
      icon="pi pi-times"
      class="p-button-danger p-button-rounded"
      (click)="hideDialog()">
    </button>
  </div>
</form>