<main id="main" class="main">
    <p-toast></p-toast>
    <div class="mb-6">
        <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <p-card>
                    <p-toolbar>
                        <ng-template pTemplate="right">
                            <button 
                            pButton 
                            pRipple 
                            label="New" 
                            icon="pi pi-plus" 
                            class="p-button-raised p-button-rounded p-button-outlined mr-2" (click)="openNew()"></button>
                            <button
                                pButton
                                type="button"
                                label="Activate"
                                icon="pi pi-check-circle"
                                class="p-button-raised p-button-rounded p-button-outlined p-button-success mr-2"
                                [disabled]="!selectedFunctionalities || !selectedFunctionalities.length"
                                (click)="confirmActivateSelected()"
                            ></button>
                            <button
                                pButton
                                type="button"
                                label="Deactivate"
                                icon="pi pi-times-circle"
                                class="p-button-raised p-button-rounded p-button-outlined p-button-danger mr-2"
                                [disabled]="!selectedFunctionalities || !selectedFunctionalities.length"
                                (click)="confirmDeactivateSelected()"
                            ></button>
                            <button
                                pButton
                                type="button"
                                label="Delete"
                                icon="pi pi-trash"
                                class="p-button-raised p-button-rounded p-button-outlined p-button-danger"
                                [disabled]="!selectedFunctionalities || !selectedFunctionalities.length"
                                (click)="deletePermissions()"
                            ></button>
                        </ng-template>
                    </p-toolbar>
                    <p-table
                        [value]="functionalities"
                        [globalFilterFields]="['id', 'name', 'description', 'category', 'method', 'status']"
                        [(selection)]="selectedFunctionalities"
                        [paginator]="true"
                        [rows]="10"
                        [loading]="loading"
                        [rowsPerPageOptions]="[10, 25, 50, { showAll: 'All' }]"
                        [scrollable]="true"
                        scrollHeight="500px"
                        #dt
                        [rowHover]="true"
                        [size]="selectedSize"
                        dataKey="id"
                        [tableStyle]="{ 'min-width': '100rem' }"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [showCurrentPageReport]="true"
                        responsiveLayout="scroll"
                    >
                        <ng-template #caption>
                            <div class="flex items-center justify-between">
                                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
                                <div class="flex justify-center mb-4">
                                    <p-selectbutton [options]="sizes" [(ngModel)]="selectedSize" [multiple]="false" optionLabel="name" optionValue="value" />
                                </div>
                                <p-iconfield>
                                    <p-inputicon class="pi pi-search" />
                                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
                                </p-iconfield>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>

                                <th style="min-width: 10rem">
                                    <div class="flex items-center">
                                        Name API
                                        <p-columnFilter type="text" field="name" display="menu" />
                                    </div>
                                </th>

                                <th style="min-width: 10rem">
                                    <div class="flex items-center">
                                        Description
                                        <p-columnFilter type="text" field="description" display="menu" />
                                    </div>
                                </th>

                                <th style="min-width: 10rem">
                                    <div class="flex items-center">
                                        Category
                                        <p-columnFilter type="text" field="category" display="menu" />
                                    </div>
                                </th>
                                <th style="min-width: 10rem">
                                    <div class="flex items-center">
                                        Method
                                        <p-columnFilter type="text" field="method" display="menu"></p-columnFilter>
                                    </div>
                                </th>
                                <th style="min-width: 10rem">
                                    <div class="flex items-center">
                                        Status
                                        <p-columnFilter type="boolean" field="status" display="menu"></p-columnFilter>
                                    </div>
                                </th>
                                <th style="width: 10rem">Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-functionality>
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="functionality"></p-tableCheckbox>
                                </td>
                                <td>{{ functionality.name }}</td>
                                <td>{{ functionality.description }}</td>
                                <td>{{ functionality.category }}</td>
                                <td>{{ functionality.method }}</td>
                                <td>
                                    <button *ngIf="functionality.status == 1" pButton pRipple type="text" icon="pi pi-verified" label="Active" class="p-button-rounded p-button-success p-button-outlined p-button-sm"></button>
                                    <button *ngIf="functionality.status == 0" pButton pRipple type="text" icon="pi pi-times" label="Inactive" class="p-button-rounded p-button-danger p-button-outlined p-button-sm"></button>
                                </td>
                                <td>
                                    <button pButton pRipple icon="pi pi-pencil" pTooltip="Edit" tooltipPosition="bottom" class="p-button-rounded p-button-success mr-2 p-button-outlined" (click)="editFunctionality(functionality)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>
        </div>
    </section>
</main>

<p-dialog 
[(visible)]="functionalityDialog"
[style]="{ width: '600px' }"
header="Region Details"
[modal]="true"
styleClass="p-fluid"
[maximizable]="true">
    <ng-template pTemplate="content">
        <app-create-edit-functionalities [passedFunctionality]="outputFunctionality" (editedFunctionality)="onDataChange($event)"></app-create-edit-functionalities>
    </ng-template>
</p-dialog>