<p-card>
    <form (ngSubmit)="onSubmit()" ngNativeValidate #taxForm="ngForm" class="p-fluid">

        <div *ngIf="routeControl === 'drafted'"
            class="flex items-center justify-center text-xl font-semibold text-purple-600 mb-3 space-x-2">
            <i class="pi pi-pencil text-blue-500"></i>
            <span>Search drafted taxes</span>
        </div>

        <div *ngIf="routeControl === 'submited'"
            class="flex items-center justify-center text-xl font-semibold text-blue-600 mb-3 space-x-2">
            <i class="pi pi-spin pi-spinner text-green-500"></i>
            <span>Search waiting for review taxes</span>
        </div>
        <div *ngIf="routeControl === 'sent'"
            class="flex items-center justify-center text-xl font-semibold text-blue-600 mb-3 space-x-2">
            <i class="pi pi-spin pi-spinner text-green-500"></i>
            <span>Search sent to approval taxes</span>
        </div>

        <div *ngIf="routeControl === 'rejected'"
            class="flex items-center justify-center text-xl font-semibold text-red-600 mb-3 space-x-2">
            <i class="pi pi-times-circle text-red-500"></i>
            <span>Search rejected taxes</span>
        </div>
        <div *ngIf="routeControl === 'setteled'"
            class="flex items-center justify-center text-xl font-semibold text-green-600 mb-3 space-x-2">
            <i class="pi pi-check-circle text-green-500"></i>
            <span>Search settled taxes</span>
        </div>
       
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

            <div class="p-field" >
                <label for="branch_name" class="block font-bold mb-3">Initiator Branch</label>

                <input pInputText id="branch_name" name="branch_name" [(ngModel)]="payload.branch_name" type="text"
                    autocomplete="off" class="w-full h-12 " readonly />
            </div>

            


            <div class="p-field">
                <label for="tax_category_id" class="block font-bold mb-3">Tax Type</label>
                <p-select id="tax_category_id" name="tax_category_id" [options]="taxCategories"
                    [(ngModel)]="payload.tax_category_id" optionLabel="type" optionValue="id" [filter]="true"
                    [loading]="taxCategoryLoading" [placeholder]="taxCategoryLoading ? 'Loading...' : 'Select Tax Type'"
                    (onClick)="getTaxCategories()" class="w-full h-12 "></p-select>
            </div>



            <div class="p-field" *ngIf="routeControl !='setteled'">
                <label for="reference_number" class="block font-bold mb-3">Reference Number</label>

                <input pInputText id="reference_number" name="reference_number" [(ngModel)]="payload.reference_number"
                    type="text" autocomplete="off" class="w-full h-12 " />
            </div>


            <div class="p-field" *ngIf="routeControl === 'drafted'">
                <label for="drafted_date" class="block font-bold mb-3">
                    <strong class="text-danger"></strong> Drafted Date
                </label>


                <p-datepicker id="drafted_date" [(ngModel)]="payload.drafted_date" name="drafted_date"
                    dateFormat="dd-mm-yy" [showIcon]="true" [readonlyInput]="false" [selectionMode]="'range'"
                    [showButtonBar]="true" placeholder="Select Drafted date" class="w-full custom-datepicker">
                </p-datepicker>


            </div>

            <div class="p-field"
                *ngIf="routeControl != 'rejected' &&  routeControl !='drafted' && routeControl !='sent'">
                <label for="maker_date" class="block font-bold mb-3">
                    <strong class="text-danger"></strong> Posted Date
                </label>
                <p-datepicker id="maker_date" [(ngModel)]="payload.maker_date" name="maker_date" dateFormat="dd-mm-yy"
                    [showIcon]="true" [readonlyInput]="true" inputId="maker_date" [selectionMode]="'range'"
                    placeholder="Select submitted date"  class="w-full custom-datepicker"></p-datepicker>


            </div>

            <div class="p-field" *ngIf="routeControl ==='sent'">
                <label for="checked_date" class="block font-bold mb-3">
                    <strong class="text-danger"></strong> Checked Date
                </label>
                <p-datepicker id="checked_date" [(ngModel)]="payload.checked_date" name="checked_date"
                    dateFormat="dd-mm-yy" [showIcon]="true" [readonlyInput]="true" inputId="checked_date"
                    [selectionMode]="'range'" placeholder="Select Checked date" 
                    class="w-full custom-datepicker"></p-datepicker>


            </div>

            <div class="p-field" *ngIf="routeControl ==='rejected' ">
                <label for="maker_date" class="block font-bold mb-3">
                    <strong class="text-danger"></strong> Rejected Date
                </label>
                <p-datepicker id="rejected_date" [(ngModel)]="payload.rejected_date" name="rejected_date"
                    dateFormat="dd-mm-yy" [showIcon]="true" [readonlyInput]="true" inputId="rejected_date"
                    [selectionMode]="'range'" placeholder="Select rejected date" 
                    class="w-full custom-datepicker"></p-datepicker>

            </div>

            <div class="p-field" *ngIf="routeControl ==='setteled' ">
                <label for="maker_date" class="block font-bold mb-3">
                    <strong class="text-danger"></strong> Settled Date
                </label>
                <p-datepicker id="checked_date" [(ngModel)]="payload.checked_date" name="checked_date"
                    dateFormat="dd-mm-yy" [showIcon]="true" [readonlyInput]="true" inputId="checked_date"
                    placeholder="Select approved date" required class="w-full custom-datepicker"
                    [selectionMode]="'range'"></p-datepicker>

            </div>
            <div class="flex gap-4 mt-4 justify-center">

                <button pButton pRipple label="Search" icon="pi pi-search" [loading]="submitted" type="submit"
                    class="p-button-rounded p-button-info p-button-outlined">
                </button>



                <button pButton pRipple label="Reset" icon="pi pi-refresh" type="button" (click)="onReset()"
                    class="p-button-rounded p-button-danger p-button-outlined">
                </button>
            </div>





        </div>
    </form>

</p-card>