<div class="p-grid p-formgrid row">
  <div class="p-field p-col-12 p-ml-3">
    <p-skeleton
      width="90%"
      height="2rem"
      styleClass="p-mb-2"
      borderRadius="6px"
    ></p-skeleton>
  </div>
  <div class="p-field p-col-4">
    <p-skeleton
      height="2rem"
      borderRadius="6px"
    ></p-skeleton>
  </div>
  <div class="p-field p-col-4">
    <p-skeleton
      height="2rem"
      borderRadius="6px"
    ></p-skeleton>
  </div>
  <div class="p-field p-col-4">
    <p-skeleton
      height="2rem"
      borderRadius="6px"
    ></p-skeleton>
  </div>

  <div class="p-field p-col-12" style="margin-left: -3%;">
    <p-skeleton shape="circle" size="20rem"></p-skeleton>
  </div>
</div>
