<main id="main" class="main">
    <p-toast></p-toast>
        <!-- Breadcrumb -->
        <div class="mb-6">
            <p-breadcrumb class="w-full" [model]="items" [home]="home"></p-breadcrumb>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
            <!-- IS Card -->
            <div class="card">
                <div *ngIf="loading">
                <app-admin-skeleton></app-admin-skeleton>
              </div>
              <div *ngIf="!loading">
                <div class="flex justify-between mb-4">
                    <div>
                        <h5 class="card-title text-gray-500 font-medium mb-2">IS <span>| Total</span></h5>
                        <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">
                            {{ adminDashboardData!.card_data?.[0] }}
                        </div>
                    </div>
                    <div class="flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-full w-10 h-10">
                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-primary font-medium">Users</span>
            </div>
            </div>

            <!-- MGT Card -->
            <div class="card">
                <div *ngIf="loading" class="mt-3">
                <app-admin-skeleton></app-admin-skeleton>
              </div>
              <div *ngIf="!loading">
                <div class="flex justify-between mb-4">
                    <div>
                        <h5 class="card-title text-gray-500 font-medium mb-2">MGT <span>| Total</span></h5>
                        <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">
                            {{ adminDashboardData.card_data?.[1] }}
                        </div>
                    </div>
                    <div class="flex items-center justify-center bg-orange-100 dark:bg-orange-400/10 rounded-full w-10 h-10">
                        <i class="pi pi-dollar text-orange-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-primary font-medium">Users</span>
              </div>
            </div>

            <!-- BFA Card -->
            <div class="card">
                <div *ngIf="loading" class="mt-3">
                <app-admin-skeleton></app-admin-skeleton>
              </div>
              <div *ngIf="!loading">
                <div class="flex justify-between mb-4">
                    <div>
                        <h5 class="card-title text-gray-500 font-medium mb-2">BFA <span>| Total</span></h5>
                        <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">
                            {{ adminDashboardData.card_data?.[2] }}
                        </div>
                    </div>
                    <div class="flex items-center justify-center bg-cyan-100 dark:bg-cyan-400/10 rounded-full w-10 h-10">
                        <i class="pi pi-users text-cyan-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-primary font-medium">Users</span>
              </div>
            </div>

            <!-- INS Card -->
            <div class="card">
                <div *ngIf="loading" class="mt-3">
                <app-admin-skeleton></app-admin-skeleton>
              </div>
                <div *ngIf="!loading">
                <div class="flex justify-between mb-4">
                    <div>
                        <h5 class="card-title text-gray-500 font-medium mb-2">INS <span>| Total</span></h5>
                        <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">
                            {{ adminDashboardData.card_data?.[3] }}
                        </div>
                    </div>
                    <div class="flex items-center justify-center bg-purple-100 dark:bg-purple-400/10 rounded-full w-10 h-10">
                        <i class="pi pi-comment text-purple-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-gray-500">Users</span>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
            <!-- Status Of Users Card -->
             <div *ngIf="loading" class="mt-3">
                <app-admin-skeleton></app-admin-skeleton>
              </div>
              <div *ngIf="!loading" class="mt-3">
            <div class="card w-full">
                <div class="font-semibold text-xl mb-4">Status Of Users</div>
                <p-chart type="bar" [data]="polarChartUsersStatusData" [options]="polarChartOptions" class="h-80"></p-chart>
            </div>
            </div>

            <!-- Recent Activity Card -->
            <div class="card w-full">
                <div *ngIf="loading" class="mt-3">
                <app-admin-skeleton></app-admin-skeleton>
              </div>
              <div *ngIf="!loading" class="mt-3">
                <div class="card-body">
                    <div class="mt-3"></div>
                    <div>
                        <h5 class="card-title flex justify-between items-center">
                            Recent Activity
                            <button pButton pRipple icon="pi pi-external-link" class="p-button-text p-button-info" [routerLink]="['/applayout/admin/user-recent-activity']"></button>
                        </h5>
                        <div class="space-y-3 mt-4">
                            <div *ngFor="let ra of adminDashboardData.recentActivity" class="flex items-start gap-3">
                                <div class="w-1/4 text-sm text-gray-500">{{ ra.created_date | timeago: true }}</div>
                                <i class="bi bi-circle-fill text-green-500 mt-1"></i>
                                <div class="flex-1 text-sm">{{ ra.message }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- User Active Status -->
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mt-6">
            <div class="card">
                <div *ngIf="loading" class="mt-3">
                <app-admin-skeleton></app-admin-skeleton>
              </div>
              <div *ngIf="!loading" class="mt-3">
                <h5 class="card-title font-semibold">Users Active Status <span class="text-gray-500">| Audit</span></h5>
                <p-chart type="radar" [data]="radar_data" [options]="chartOptions" class="w-2/5 mx-auto"></p-chart>
              </div>
            </div>

            <div class="card">
                <div *ngIf="loading" class="mt-3">
                <app-admin-skeleton></app-admin-skeleton>
              </div>
              <div *ngIf="!loading" class="mt-3">
                <div class="font-semibold text-xl mb-4">Revenue Stream</div>
                <p-chart type="bar" [data]="polarChartUsersStatusData" [options]="chartOptionsRevenues" class="h-80" />
              </div>
            </div>

            <div class="card col-span-2">
                <div *ngIf="loading" class="mt-3">
                <app-admin-skeleton></app-admin-skeleton>
              </div>
              <div *ngIf="!loading" class="mt-3">
                <div class="card-body">
                    <h5 class="card-title font-semibold"># of Users <span class="text-gray-500">| Region and Audit</span></h5>
                    <p-chart type="line" [data]="usersPerRegionandAudit" [options]="basicOptions"></p-chart>
                </div>
              </div>
            </div>

            <div class="card col-span-2">
                <div *ngIf="loading" class="mt-3">
                <app-admin-skeleton></app-admin-skeleton>
              </div>
                <div *ngIf="!loading" class="mt-3">
                <div class="card-body">
                    <h5 class="card-title font-semibold"># of Users <span class="text-gray-500">| Roles and IS, MGT and INS</span></h5>
                    <p-chart type="bar" [data]="barChartRolePerAudits" [options]="multiAxisOptions"></p-chart>
                </div>
                </div>
            </div>

            <div class="card col-span-2">
                <div *ngIf="loading" class="mt-3">
                <app-admin-skeleton></app-admin-skeleton>
              </div>
              <div *ngIf="!loading" class="mt-3">
                <div class="card-body">
                    <h5 class="card-title font-semibold"># of Users <span class="text-gray-500">| Roles, BFA</span></h5>
                    <p-chart type="bar" [data]="horizontal_bar_chart_data" [options]="horizontalOptions"></p-chart>
                </div>
              </div>
            </div>
        </div>
</main>
