<!-- <header id="header" class="header fixed-top d-flex align-items-center"> -->
  <div class="row">
    <div class="col-lg-12">
    <p-toast></p-toast>
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle" href="#">
            <i class="bi bi-search"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            *ngIf="admin"
            (click)="openLogModal()"
            class="nav-link nav-icon"
            href="#"
            data-bs-toggle="dropdown"
          >
            <i
              ><img
                class="awash-bank-login-logo"
                src="assets/img/log.png"
                alt="Log"
                width="20"
                height="20"
            /></i>
          </a>
        </li>
  
        <li class="nav-item dropdown">
          <a
            *ngIf="admin"
            (click)="modalSetting()"
            class="nav-link nav-icon"
            href="#"
            data-bs-toggle="dropdown"
          >
            <i class="bi bi-gear"></i>
          </a>
        </li>
  
        <li class="nav-item dropdown">
          <a
            *ngIf="admin"
            (click)="viewedNotificationsByAdminDropDown()"
            class="nav-link nav-icon"
            href="#"
            data-bs-toggle="dropdown"
          >
            <i class="bi bi-bell"></i>
            <span
              *ngIf="check_notification_list.length > 0"
              class="badge bg-primary badge-number"
              >{{ check_notification_list.length }}</span
            >
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications"
          >
            <li *ngIf="admin" class="dropdown-header">
              You have {{ admin_notification_list.length }} new notifications
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
  
            <a
              *ngIf="admin"
              routerLink="/online-failed-users"
              style="text-decoration: none"
            >
              <li
                *ngFor="let notification of admin_notification"
                class="notification-item"
              >
                <i class="bi bi-exclamation-circle text-warning"></i>
                <div *ngIf="notification?.failed && notification?.locked">
                  <p>Email: {{ notification?.user_name }}</p>
                  <p>Status: <span class="badge bg-info">locked</span></p>
                </div>
                <div
                  *ngIf="
                    notification?.failed &&
                    !notification?.locked &&
                    !notification?.expired
                  "
                >
                  <p>Email: {{ notification?.user_name }}</p>
                  <p>Status: <span class="badge bg-warning">failed</span></p>
                </div>
                <div *ngIf="notification?.expired">
                  <p>Email: {{ notification?.user_name }}</p>
                  <p>Credentials: <span class="badge bg-info">expired</span></p>
                </div>
                <hr class="dropdown-divider" />
              </li>
              <a *ngIf="admin_notification_list.length > 3" href="#"
                ><span
                  class="badge rounded-pill bg-primary p-2 ms-2"
                  (click)="adminNotificationModal()"
                >
                  View all notifications
                </span>
              </a>
            </a>
  
            <li>
              <hr class="dropdown-divider" />
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    </div>
    </div>
  <!-- </header> -->
  
  <p-dialog
    [(visible)]="notificationDialog"
    [header]="'You have' + admin_notification_list.length + ' new notifications'"
    [modal]="true"
    styleClass="p-fluid"
    [maximizable]="true"
  >
    <ng-template pTemplate="content">
      <ul class="list-group">
        <li
          *ngFor="let notification of admin_notification_list"
          class="list-group-item"
        >
          <div *ngIf="notification?.failed && notification?.locked">
            <span class="badge badge-info">user {{ notification?.user_name }} is locked</span>
          </div>
          <div
            *ngIf="
              notification?.failed &&
              !notification?.locked &&
              !notification?.expired
            "
          >
            <span class="badge badge-warning"
              >user {{ notification?.user_name }} is failed</span
            >
          </div>
          <div *ngIf="notification?.expired">
            <span class="badge badge-info"
              >user {{ notification?.user_name }} credentials is expired</span
            >
          </div>
          <hr class="dropdown-divider" />
        </li>
      </ul>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="notificationDialog = false"
      ></button>
    </ng-template>
  </p-dialog>
  
  <p-dialog
    [(visible)]="logDialog"
    header="Log Information"
    [modal]="true"
    styleClass="p-fluid"
    [maximizable]="true"
  >
    <ng-template pTemplate="content">
      <app-log></app-log>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="hideDialog()"
      ></button>
    </ng-template>
  </p-dialog>
  
  <p-dialog
    [(visible)]="settingDialog"
    header="System Settings"
    [modal]="true"
    [style]="{ width: '600px' }"
    styleClass="p-fluid"
    [maximizable]="true"
  >
    <ng-template pTemplate="content">
      <app-setting-configuration></app-setting-configuration>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="hideDialog()"
      ></button>
    </ng-template>
  </p-dialog>
  
  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
  