<p-fluid class="grid grid-cols-12 gap-4 mb-6" *ngIf="!loading">
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <div class="card mb-0">
            <div class="flex justify-between mb-4">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Drafted </span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{ cardData[0] }}</div>
                </div>
                <div class="flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-border"
                    style="width: 2.5rem; height: 2.5rem">
                    <i class="pi pi-file-edit text-blue-500 !text-xl"></i>
                </div>
            </div>
            <span class="text-primary font-medium">taxes </span>
            <span class="text-muted-color"></span>
        </div>
    </div>

    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <div class="card mb-0">
            <div class="flex justify-between mb-4">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Waiting for review</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{ cardData[1] }}</div>
                </div>
                <div class="flex items-center justify-center bg-orange-100 dark:bg-orange-400/10 rounded-border"
                    style="width: 2.5rem; height: 2.5rem">
                    <i class="pi pi-clock  text-orange-500 !text-xl"></i>
                </div>
            </div>
            <span class="text-primary font-medium"> taxes </span>
            <span class="text-muted-color"></span>
        </div>
    </div>

    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <div class="card mb-0">
            <div class="flex justify-between mb-4">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Reviewed</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{ cardData[2] }}</div>
                </div>
                <div class="flex items-center justify-center bg-cyan-100 dark:bg-cyan-400/10 rounded-border"
                    style="width: 2.5rem; height: 2.5rem">
                    <i class="pi pi-check-circle text-cyan-500 !text-xl"></i>
                </div>
            </div>
            <span class="text-primary font-medium"> taxes </span>
            <span class="text-muted-color"> </span>
        </div>
    </div>

    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <div class="card mb-0">
            <div class="flex justify-between mb-4">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Rejected </span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{ cardData[3] }} </div>
                </div>
                <div class="flex items-center justify-center bg-purple-100 dark:bg-purple-400/10 rounded-border"
                    style="width: 2.5rem; height: 2.5rem">
                    <i class="pi pi-times-circle text-purple-500 !text-xl"></i>
                </div>
            </div>
            <span class="text-primary font-medium"> taxes </span>
            <span class="text-muted-color"> </span>
        </div>
    </div>
</p-fluid>

<p-fluid class="grid grid-cols-12 gap-4 mb-6" *ngIf="loading">
    <ng-container *ngFor="let item of [1, 2, 3, 4]">
        <div class="col-span-12 lg:col-span-6 xl:col-span-3">
            <app-card-skeleton></app-card-skeleton>
        </div>
    </ng-container>
</p-fluid>


<p-fluid class="grid grid-cols-12 gap-8">



    <div class="col-span-12 xl:col-span-12" *ngIf="announcmentavailable">
        <div class="card">

            <ng-container *ngIf="!loading; else chartBarSkeleton">

                <!-- Toggle Switch -->
                <div class="flex justify-center items-center mb-1 gap-2">
                    <span class="font-semibold text-sm">Latest
                        Announcement</span>


                </div>

                <!-- Announcement -->
                <ng-container>
                    <!-- <div class="font-semibold text-xl mb-4">Latest Announcement</div> -->

                    <p-editor [(ngModel)]="announcement.message" [readonly]="true"
                        styleClass="w-full border rounded-md bg-surface-50 text-gray-700 max-h-70 overflow-auto">

                        <ng-template pTemplate="header">
                            <div class="flex justify-between items-center w-full space-x-4">
                                <div class="font-semibold">Subject: {{ announcement.title }}</div>
                                 <div class="font-semibold">Posted By :{{ announcement.postedBy }}
                            </div>
                                <div class="font-semibold">Posted Date: {{ announcement.created_date | date:'yyyy-MM-dd'
                                    }}</div>
                                <div class="font-semibold">Expiry Date: {{ announcement.expiry_date | date:'yyyy-MM-dd'
                                    }}</div>
                            </div>
                        </ng-template>
                    </p-editor>

                    <div class="flex gap-3 mt-2">
                        <a class="p-button p-component p-button-raised p-button-rounded flex items-center justify-center bg-green-500 border-green-500 text-white hover:bg-green-600"
                            [routerLink]="['/applayout/approver/ongoing-announcement']">
                            <i class="pi pi-eye mr-2"></i>
                            See more new
                        </a>

                        <a class="p-button p-component p-button-raised p-button-rounded flex items-center justify-center bg-gray-500 border-gray-500 text-white hover:bg-gray-600"
                            [routerLink]="['/applayout/approver/archived-announcement']">
                            <i class="pi pi-eye mr-2"></i>
                            See archived
                        </a>
                    </div>
                </ng-container>



            </ng-container>

            <ng-template #chartBarSkeleton>
                <app-bar-and-line-chart-skeleton></app-bar-and-line-chart-skeleton>
            </ng-template>


            <ng-template #chartBarSkeleton>
                <app-bar-and-line-chart-skeleton></app-bar-and-line-chart-skeleton>
            </ng-template>
        </div>
    </div>


    <div class="col-span-12 xl:col-span-12">
        <div class="card">
            <!-- real content when not loading -->
            <ng-container *ngIf="!loading; else chartLineSkeleton">
                <div class="font-semibold text-xl mb-4"> Waiting for review, reviewed & approved tax records per month
                </div>
                <p-chart type="bar" [data]="barChartData" [options]="barChartOptions" class="h-[30rem]" />

            </ng-container>

            <!-- skeleton shown while loading -->
            <ng-template #chartLineSkeleton>
                <app-bar-and-line-chart-skeleton></app-bar-and-line-chart-skeleton>
            </ng-template>
        </div>
    </div>




    <div class="col-span-12 xl:col-span-6">
        <div class="card flex flex-col items-center">
            <div class="font-semibold text-xl mb-4" *ngIf="!loading">Polar Area</div>
            <p-chart type="polarArea" [data]="polarData" [options]="polarOptions" *ngIf="!loading"></p-chart>


            <div class="flex justify-center gap-4 mb-3" *ngIf="loading">
                <app-pie-dougnut-polar-description-skeleton></app-pie-dougnut-polar-description-skeleton>
            </div>
            <div *ngIf="loading">
                <app-pie-dougnut-polar-skeleton></app-pie-dougnut-polar-skeleton>
            </div>
            <p-skeleton shape="circle" size="21rem" *ngIf="loading"></p-skeleton>
        </div>

    </div>

    <div class="col-span-12 xl:col-span-6">
        <div class="card flex flex-col items-center">
            <div class="font-semibold text-xl mb-4" *ngIf="!loading">Radar</div>
            <p-chart type="radar" [data]="radarData" [options]="radarOptions" *ngIf="!loading"></p-chart>

            <div class="flex justify-center gap-4 mb-3" *ngIf="loading">
                <app-pie-dougnut-polar-description-skeleton></app-pie-dougnut-polar-description-skeleton>
            </div>
            <div *ngIf="loading">
                <app-pie-dougnut-polar-skeleton></app-pie-dougnut-polar-skeleton>
            </div>
            <p-skeleton shape="circle" size="21rem" *ngIf="loading"></p-skeleton>
        </div>
    </div>
</p-fluid>