<main id="main" class="main">
    <p-toast></p-toast>
    <div class="mb-6">
        <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <p-card>
                    <p-toolbar styleClass="p-mb-4">
                        <ng-template pTemplate="left">
                            <button 
                            pButton 
                            pRipple 
                            label="New" 
                            (click)="openNew()" 
                            icon="pi pi-plus" 
                            class="p-button-raised p-button-rounded mr-2">
                        </button>
                            <button
                                pButton
                                pRipple
                                label="Deactivate"
                                icon="pi pi-trash"
                                class="p-button-raised p-button-rounded p-button-danger mr-2"
                                (click)="deleteSelectedRegion()"
                                [disabled]="!selectedRegions || !selectedRegions.length"
                            ></button>
                            <button pButton pRipple label="Activate" icon="pi pi-verified" class="p-button-raised p-button-rounded p-button-success" (click)="activateSelectedRegion()" [disabled]="!selectedRegions || !selectedRegions.length"></button>
                        </ng-template>

                        <ng-template pTemplate="right">
                            <div class="flex">
                                <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="excelExport()" class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                            </div>
                        </ng-template>
                    </p-toolbar>

                    <p-table
                        #dt
                        [value]="regions"
                        [rows]="5"
                        [paginator]="true"
                        [loading]="loading"
                        [globalFilterFields]="['name', 'code', 'status']"
                        [(selection)]="selectedRegions"
                        [rowHover]="true"
                        dataKey="id"
                        [rowsPerPageOptions]="[5, 10, 25, 50]"
                        [tableStyle]="{ 'min-width': '75rem' }"
                        [size]="selectedSize"
                        [totalRecords]="paginatorPayload!.totalRecords"
                        (onLazyLoad)="onPage($event)"
                        [lazy]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [showCurrentPageReport]="true" >
                        <ng-template #caption>
                            <div class="flex items-center justify-between">
                                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
                                <div class="flex justify-center mb-4">
                                    <p-selectbutton [options]="sizes" [(ngModel)]="selectedSize" [multiple]="false" optionLabel="name" optionValue="value" />
                                </div>
                                <p-iconfield>
                                    <p-inputicon styleClass="pi pi-search" />
                                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
                                </p-iconfield>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th style="min-width: 15rem">
                                    <div class="flex items-center">
                                        Name
                                        <p-columnFilter type="text" field="name" display="menu" />
                                    </div>
                                </th>
                                <th style="min-width: 15rem">
                                    <div class="flex items-center">
                                        Code
                                        <p-columnFilter type="text" field="code" display="menu" />
                                    </div>
                                </th>
                                <th style="min-width: 15rem">
                                    <div class="flex items-center">
                                        Status
                                        <p-columnFilter type="text" field="status" display="menu" />
                                    </div>
                                </th>

                                <th style="width: 12rem">Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-region let-expanded="expanded">
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="region"></p-tableCheckbox>
                                </td>
                                <td>{{ region.name }}</td>
                                <td>{{ region.code }}</td>
                                <td>
                                    <button *ngIf="region.status == 1" pButton pRipple type="text" icon="pi pi-verified" label="Active" class="p-button-rounded p-button-success p-button-outlined p-button-sm"></button>
                                    <button *ngIf="region.status == 0" pButton pRipple type="text" icon="pi pi-times" label="Inactive" class="p-button-rounded p-button-danger p-button-outlined p-button-sm"></button>
                                </td>
                                <td>
                                    <button pButton pRipple pTooltip="Edit" tooltipPosition="bottom" (click)="editRegion(region)" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" ></button>
                                    <button *ngIf="region.status == 1" pButton pRipple pTooltip="Deactivate" tooltipPosition="bottom" (click)="deleteRegion(region)" icon="pi pi-times" class="p-button-rounded p-button-danger mr-2"></button>
                                    <button *ngIf="region.status == 0" pButton pRipple pTooltip="Activate" tooltipPosition="bottom" (click)="activateRegion(region)" icon="pi pi-verified" class="p-button-rounded p-button-secondary"></button>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">In total there are {{ paginatorPayload.totalRecords }} regions.</div>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>
        </div>
    </section>
</main>

<p-dialog 
[(visible)]="regionEditDialog"
[style]="{ width: '600px' }"
header="Region Details"
[modal]="true"
styleClass="p-fluid"
[maximizable]="true">
    <ng-template pTemplate="content">
        <app-add-region [passedRegion]="outputRegion" (editedRegion)="onDataChange($event)"></app-add-region>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
