<p-toast />
<p-card class="mt-3 shadow-2 border-round-xl">
  <div class="mb-3">
    <app-maker-search-payload [routeControl]="routeControl" (searchResults)="onSearchResults($event)">
    </app-maker-search-payload>
  </div>

  <p-toolbar class="mb-3 border-round-xl shadow-sm" *ngIf="!loading">
    <ng-template pTemplate="start">
      <p-button label="New" icon="pi pi-plus" severity="info" class="mr-2" (onClick)="openNew()"
        *ngIf="routeControl ==='drafted'" />

      <p-button severity="success" label="Submit" icon="pi pi-check" (click)="submitToBranchManager(selectedTaxes)"
        [disabled]="!selectedTaxes || !selectedTaxes.length" class="mr-2" *ngIf="routeControl ==='drafted'" />

      <p-button severity="danger" label="Delete" icon="pi pi-trash" (click)="deleteTaxes(selectedTaxes)"
        [disabled]="!selectedTaxes || !selectedTaxes.length" class="mr-2" *ngIf="routeControl ==='drafted'" />

      <p-button severity="help" label="Back" icon="pi pi-trash" (click)="backToDraftedState(selectedTaxes)"
        [disabled]="!selectedTaxes || !selectedTaxes.length" class="mr-2"
        *ngIf="routeControl !=='drafted'  && routeControl !='setteled' && routeControl !='sent' " />
    </ng-template>

    <ng-template pTemplate="center" *ngIf="routeControl != 'sent'">
      <div class="flex justify-center w-full">
        <p-breadcrumb [model]="items"></p-breadcrumb>
      </div>
    </ng-template>
  </p-toolbar>
  <div *ngIf="!loading">
    <p-table [expandedRowKeys]="expandedRows" (onRowExpand)="onRowExpand($event)"
      (onRowCollapse)="onRowCollapse($event)" #dt [value]="taxes" [loading]="loading" [rows]="5" [paginator]="true"
      [globalFilterFields]="['taxCategory', 'sendTo_', 'noOfEmployee', 'taxableAmount','taxWithHold', 'incometaxPoolAmount', 'graduatetaxPool',
     'graduaTotBasSalary','graduateTotaEmployee','graduatetaxWithHold', 'taxCategoryList','remark', 'maker_name','status', 'maker_date', 'initiator_branch', 'destination_branch', 'reference_number','remark']"
      [tableStyle]="{ 'min-width': '230rem' }" [(selection)]="selectedTaxes" [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} taxes" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 20, 30]" [size]="selectedSize">
      <ng-template #caption>
        <div class="flex items-center justify-between">
          <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
            (click)="clear(dt)"></button>


          <div class="flex justify-center mb-4">
            <p-selectbutton [options]="sizes" [(ngModel)]="selectedSize" [multiple]="false" optionLabel="name"
              optionValue="value" />
          </div>
          <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
          </p-iconfield>
        </div>
      </ng-template>

      <ng-template #header>
        <tr>
          <th style="width: 3rem"></th>

          <th style="width: 3rem"><p-tableHeaderCheckbox /></th>

          <th style="min-width: 16rem">
            <div class="flex items-center">
              Initietor Branch (Unit)
              <p-columnFilter type="numeric" field="from_" display="menu" />
            </div>
          </th>

          <th style="min-width: 14rem">

            <div class="flex items-center">
              Reference Number

              <p-columnFilter type="text" field="from_" display="menu" />
            </div>
          </th>

          <th style="min-width: 16rem">
            <div class="flex items-center">
              Target Branch (Directorate)
              <p-columnFilter type="numeric" field="sendTo_" display="menu" />
            </div>
          </th>

          <th style="min-width: 10rem">

            <div class="flex items-center">
              Taxable Amount

              <p-columnFilter type="numeric" field="taxableAmount" display="menu" />
            </div>
          </th>

          <th style="min-width: 12rem">

            <div class="flex items-center">
              Tax With Hold

              <p-columnFilter type="numeric" field="taxabltaxWithHoldeAmount" display="menu" />
            </div>
          </th>

          <th style="min-width: 16rem">

            <div class="flex items-center">
              Income Tax Pool Amount

              <p-columnFilter type="numeric" field="incometaxPoolAmount" display="menu" />
            </div>
          </th>

          <th style="min-width: 14rem">

            <div class="flex items-center">
              Graduate Taxpool

              <p-columnFilter type="numeric" field="graduatetaxPool" display="menu" />
            </div>
          </th>



          <th style="min-width: 18rem">

            <div class="flex items-center">
              Graduate Total Base Salary

              <p-columnFilter type="numeric" field="graduaTotBasSalary" display="menu" />
            </div>
          </th>

          <th style="min-width: 16rem">

            <div class="flex items-center">
              Graduate Total Employee

              <p-columnFilter type="numeric" field="graduateTotaEmployee" display="menu" />
            </div>
          </th>

          <th style="min-width: 14rem">

            <div class="flex items-center">
              Number of Employees

              <p-columnFilter type="numeric" field="noOfEmployee" display="menu" />
            </div>
          </th>

          <th style="min-width: 14rem">

            <div class="flex items-center">
              Graduate Tax With Hold

              <p-columnFilter type="numeric" field="graduatetaxWithHold" display="menu" />
            </div>
          </th>

          <th style="min-width: 12rem">
            <div class="flex items-center">
              Tax Category

              <p-columnFilter type="numeric" field="taxCategory" display="menu" />
            </div>
          </th>

          <!-- <th style="min-width: 10rem">


            <div class="flex items-center">
              Remark
              <p-columnFilter type="texr" field="remark" display="menu" />
            </div>
          </th> -->


          <th style="min-width: 14rem" *ngIf="routeControl==='drafted' || routeControl==='submited'">

            <div class="flex items-center">
              Drafted Date
              <p-columnFilter type="date" field="drafted_date" display="menu" />
            </div>
          </th>
          <th style="min-width: 14rem" *ngIf="routeControl !='drafted'">

            <div class="flex items-center">
              Submitted Date
              <p-columnFilter type="date" field="maker_date" display="menu" />
            </div>
          </th>



          <th style="min-width: 16rem" *ngIf="routeControl ==='rejected'">

            <div class="flex items-center">
              Checker Rejected Date
              <p-columnFilter type="date" field="checker_rejected_date" display="menu" />
            </div>
          </th>

          <th style="min-width: 18rem" *ngIf="routeControl ==='rejected'">

            <div class="flex items-center">
              Approver Rejected Date
              <p-columnFilter type="date" field="approver_rejected_date" display="menu" />
            </div>
          </th>


          <th style="min-width: 14rem">
            Status
            <!-- <p-sortIcon field="status" /> -->
          </th>

          <th style="min-width: 12rem" *ngIf="routeControl !='setteled'  && routeControl !='sent' ">
            Action
          </th>
        </tr>
      </ng-template>

      <ng-template #body let-tax let-expanded="expanded">
        <tr>
          <td>
            <p-button type="button" pRipple [pRowToggler]="tax" [text]="true" [rounded]="true" severity="info"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
              pTooltip="Click > Icon to see file details" tooltipPosition="bottom" />
          </td>
          <td><p-tableCheckbox [value]="tax" /></td>
          <td>{{ tax.initiator_branch }}</td>
          <td>{{ tax.reference_number }}</td>
          <td>{{ tax.destination_branch }}</td>


          <td>{{ tax.taxableAmount | number:'1.0-10':'en-US' }}</td>
          <td>{{ tax.taxWithHold | number:'1.0-10':'en-US' }}</td>
          <td>{{ tax.incometaxPoolAmount | number:'1.0-10':'en-US' }}</td>
          <td>{{ tax.graduatetaxPool | number:'1.0-10':'en-US' }}</td>
          <td>{{ tax.graduaTotBasSalary | number:'1.0-10':'en-US' }}</td>
          <td>{{ tax.graduateTotaEmployee | number:'1.0-10':'en-US' }}</td>
          <td>{{ tax.noOfEmployee | number:'1.0-10':'en-US' }}</td>
          <td>{{ tax.graduatetaxWithHold | number:'1.0-10':'en-US' }}</td>

          <td>{{ taxCategoryMap[tax.taxCategory] || 'Unknown' }}</td>
          <!-- <td>{{ tax.remark }}</td> -->
          <td *ngIf="routeControl ==='drafted' || routeControl ==='submited' ">{{ tax.drafted_date | date:'yyyy-MM-dd'
            }}</td>
          <td *ngIf="routeControl !='drafted'">{{ tax.maker_date | date:'yyyy-MM-dd' }}</td>
          <td *ngIf="routeControl ==='rejected'">

            {{ tax.checker_rejected_date ? (tax.checker_rejected_date | date:'yyyy-MM-dd') : '-' }}

          </td>

          <td *ngIf="routeControl === 'rejected'">
            {{ tax.approver_rejected_date ? (tax.approver_rejected_date | date:'yyyy-MM-dd') : '-' }}
          </td>
          <td>
            <button pButton [label]="getStatusInfo(tax.status).label" [severity]="getStatusInfo(tax.status).severity"
              class=" p-button-rounded p-button-outlined p-button-sm">
            </button>
          </td>
          <td>
            <p-button pTooltip="Edit" tooltipPosition="bottom" icon="pi pi-pencil" class="mr-2" [rounded]="true"
              [outlined]="true" (click)="editTax(tax)"
              *ngIf=" routeControl ==='drafted' || routeControl ==='rejected' " />
            <p-button pTooltip="Submit" tooltipPosition="bottom" icon="pi pi-send" severity="success" [rounded]="true"
              [outlined]="true" (click)="submitToBranchManager(tax)" class="mr-2"
              *ngIf=" routeControl ==='drafted'  || routeControl ==='rejected'" />
            <p-button pTooltip="Delete" tooltipPosition="bottom" icon="pi pi-trash" severity="danger" [rounded]="true"
              [outlined]="true" (click)="deleteTaxes(tax)" class="mr-2" *ngIf=" routeControl ==='drafted' " />
            <p-button pTooltip="Back" tooltipPosition="bottom" icon="pi pi-fast-backward" severity="info"
              [rounded]="true" [outlined]="true" (click)="backToDraftedState(tax)" class="mr-2"
              *ngIf=" routeControl ==='submited' " />
          </td>
        </tr>
      </ng-template>

      <ng-template #expandedrow let-tax>
        <tr>
          <td colspan="18">
            <div class="p-3">
              <div class="flex p-fluid space-x-2 py-2">
                <p-button (click)="activeIndex1 = 0" icon="pi pi-plus"
                  styleClass="p-button-raised p-button-rounded p-ml-2" label="Attached File Details"></p-button>
                <p-button *ngIf="routeControl ==='rejected'" (click)="activeIndex1 = 1" icon="pi pi-plus"
                  styleClass="p-button-raised p-button-rounded p-ml-2" label="Remark"></p-button>
              </div>

              <p-tabView [(activeIndex)]="activeIndex1">
                <p-tabPanel header="Attached File Details">
                  <div class="py-3 flex space-x-2">
                    <p-button *ngIf="tax.message" [icon]="activeState[0] ? 'pi pi-minus' : 'pi pi-plus'"
                      (click)="toggle(0)" styleClass="p-button-text" label="Message Detail">
                    </p-button>
                    <p-button *ngIf="tax.image" [icon]="activeState[1] ? 'pi pi-minus' : 'pi pi-plus'"
                      (click)="toggle(1)" styleClass="p-button-text" label="Attached File">
                    </p-button>
                  </div>

                  <div class="flex gap-4 items-start mt-3">
                    <div class="flex-1" *ngIf="tax.message && activeState[0]">
                      <h6 class="font-bold mb-2 text-gray-700">Message</h6>
                      <div
                        class="w-full border rounded-md p-4 bg-surface-50 text-gray-700 whitespace-pre-wrap max-h-70 overflow-auto">
                        {{ tax.message }}</div>
                    </div>
                    <div *ngIf="tax.taxFile?.length" class="border p-3 rounded mb-3">
                      <div class="flex flex-wrap gap-4">
                        <div *ngFor="let file of tax.taxFile"
                          class="border p-3 rounded w-64 flex-shrink-0 flex flex-col items-center">
                          <ng-container *ngIf="file.fileType">
                            <div *ngIf="file.fileType.startsWith('image/') && file.file">
                              <div class="flex items-center">
                                <img [src]="'data:' + file.fileType + ';base64,' + file.file"
                                  [alt]="file.fileName || 'Image'"
                                  class="max-h-64 object-contain rounded-lg mb-2 w-full cursor-pointer"
                                  (error)="onImageError($event)" />
                                <i class="pi pi-eye cursor-pointer ml-2" (click)="openDialogImage()"
                                  title="Preview Image"></i>
                              </div>
                              <a class="btn-download ml-2" (click)="openDialogImage()">Preview</a>
                              <a [href]="'data:' + file.fileType + ';base64,' + file.file" [download]="file.fileName"
                                class="btn-download ml-2">Download</a>
                              <p-dialog header="Image Preview" [(visible)]="isDialogVisible" [modal]="true"
                                [responsive]="true">
                                <img [src]="'data:' + file.fileType + ';base64,' + file.file"
                                  [alt]="file.fileName || 'Preview Image'" class="dialog-image" />
                                <p-footer>
                                  <button type="button" (click)="isDialogVisible = false">Close</button>
                                </p-footer>
                              </p-dialog>
                            </div>
                            <div class="flex flex-col gap-2 mb-2 justify-center"
                              *ngIf="file.fileType === 'application/pdf' || file.pdfUrl">
                              <div class="text-center font-medium">{{ file.fileName }}</div>
                              <div class="flex gap-3 justify-center">
                                <button class="p-button p-component p-button-sm"
                                  (click)="previewPdf(file)">Preview</button>
                                <button class="p-button p-component p-button-sm"
                                  (click)="downloadPdf(file)">Download</button>
                              </div>
                            </div>
                            <div *ngIf="file.fileType?.includes('word') && file.file"
                              class="text-center text-blue-600 mb-2">
                              <i class="pi pi-file-word text-4xl mb-2"></i>
                              <span class="block text-sm truncate">{{ file.fileName}}</span>
                              <button class="text-blue-500 underline text-sm mt-1 block" (click)="downloadWord(file)">
                                Download</button>
                            </div>
                            <span *ngIf="!file.file && !file.pdfUrl" class="text-gray-400 text-sm"> No File </span>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                    <p-dialog [(visible)]="showPdfModal" modal="true" [style]="{width: '70%', height: '80%'}"
                      (onHide)="closeModalPDF()">
                      <iframe *ngIf="selectedPdf" [src]="selectedPdf" class="w-full h-full"></iframe>
                    </p-dialog>
                    <p-dialog [(visible)]="showPdfModal" modal="true" [style]="{width: '70%', height: '80%'}"
                      (onHide)="closeModalPDF()">
                      <iframe *ngIf="selectedPdf" [src]="selectedPdf" class="w-full h-full"></iframe>
                    </p-dialog>
                  </div>
                </p-tabPanel>

                <!-- Maker Remark Tab -->

                <p-tabPanel header="Maker Remark" *ngIf="tax.remark">
                  <div class="border rounded p-3 mt-3 bg-white shadow-sm ">
                    <p class="text-justify m-0">
                      {{ tax.remark }}
                    </p>
                  </div>
                </p-tabPanel>

                <!-- Reviewer Remark Tab -->
                <p-tabPanel header="Reviewer Remark" *ngIf="tax.checker_rejected_reason && routeControl === 'rejected'">
                  <div class="border rounded p-3 mt-3 bg-white shadow-sm">
                    <p class="text-justify m-0">
                      {{ tax.checker_rejected_reason }}
                    </p>
                  </div>
                </p-tabPanel>

                <!-- Approver Remark Tab -->
                <p-tabPanel header="Approver Remark"
                  *ngIf="tax.approver_rejected_reason && routeControl === 'rejected'">
                  <div class="border rounded p-3 mt-3 bg-white shadow-sm">
                    <p class="text-justify m-0">
                      {{ tax.approver_rejected_reason }}
                    </p>
                  </div>
                </p-tabPanel>

              </p-tabView>
            </div>
          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>

</p-card>



<app-tax-create-edit [(visible)]="taxDialog" [tax]="tax" (saved)="onTaxesaved($event)" [isEdit]="isEdit" [role]="roles"
  (dialogCancel)="hideDialogCrateEdit()">
</app-tax-create-edit>



<p-dialog [(visible)]="showPdfModal" modal="true" [style]="{width: '70%', height: '80%'}" (onHide)="closeModalPDF()">
  <iframe *ngIf="selectedPdf" [src]="selectedPdf" class="w-full h-full"></iframe>
</p-dialog>


<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>