<p-dialog [(visible)]="visible" [style]="{ width: '600px' }" header="Announcement Details" [modal]="true"
    (onHide)="onCancel()">
    <ng-template #content>
        <form ngNativeValidate #announcementForm="ngForm" class="p-fluid" (ngSubmit)="onSave()">
            <div class="flex flex-col gap-6">
                <div class="p-field">
                    <label for="title" class="block font-bold mb-3"><strong class="text-danger">*</strong> Title</label>
                    <input id="title" type="text" pInputText [(ngModel)]="announcement.title" name="title" required
                        autocomplete="off" fluid />
                    <div *ngIf="announcementForm.controls['title']?.invalid && announcementForm.controls['title']?.touched"
                        class="text-danger">
                        Title is required.
                    </div>
                </div>


                <div class="p-field">
                    <label for="message" class="block font-bold mb-3"><strong class="text-danger">*</strong> Message
                        Body</label>


                    <p-editor name="message" id="message" [(ngModel)]="announcement.message"
                        [style]="{ height: '320px' }" />
                </div>



                <div class="p-field">
                    <span class="block font-bold mb-4">Audience</span>
                    <div class="grid grid-cols-12 gap-4">
                        <div class="flex items-center gap-2 col-span-6">
                            <p-radiobutton id="category1" name="audience" value="ROLE_MAKER"
                                [(ngModel)]="announcement.audience" required />
                            <label for="category1">Branch Users</label>
                        </div>
                        <div class="flex items-center gap-2 col-span-6">
                            <p-radiobutton id="category2" name="audience" value="ROLE_REVIEWER"
                                [(ngModel)]="announcement.audience" required />
                            <label for="category2"> Branch Managers</label>
                        </div>
                        <div class="flex items-center gap-2 col-span-6">
                            <p-radiobutton id="category3" name="audience" value="ROLE_APPROVER"
                                [(ngModel)]="announcement.audience" required />
                            <label for="category3">Ho Users</label>
                        </div>
                        <div class="flex items-center gap-2 col-span-6">
                            <p-radiobutton id="category4" name="audience" value="ALL"
                                [(ngModel)]="announcement.audience" required />
                            <label for="category4">All</label>
                        </div>
                    </div>
                    <div *ngIf="announcementForm.controls['audience']?.invalid && (announcementForm.controls['audience']?.touched || announcementForm.submitted)"
                        class="text-danger">
                        Audience selection is required.
                    </div>
                </div>
                <div class="grid grid-cols-12 gap-4">
                    <div class="col-span-6">
                        <label for="created_date" class="block font-bold mb-3"><strong class="text-danger">*</strong>
                            Posting Date</label>
                        <p-datepicker id="created_date" [(ngModel)]="announcement.created_date" name="created_date"
                            dateFormat="dd-mm-yy" [showIcon]="true" [readonlyInput]="true" inputId="created_date"
                            placeholder="Select posting date" required></p-datepicker>
                        <div *ngIf="announcementForm.controls['created_date']?.invalid && announcementForm.controls['created_date']?.touched"
                            class="text-danger">
                            posting date is required.
                        </div>
                    </div>
                    <div class="col-span-6">
                        <label for="expiry_date" class="block font-bold mb-3"><strong class="text-danger">*</strong>
                            Expiry Date</label>
                        <p-datepicker id="expiry_date" [(ngModel)]="announcement.expiry_date" name="expiry_date"
                            dateFormat="dd-mm-yy" [showIcon]="true" [readonlyInput]="true" inputId="expiry_date"
                            placeholder="Select expiry date" required [minDate]="minExpiryDate"></p-datepicker>
                        <div *ngIf="announcementForm.controls['expiry_date']?.invalid && announcementForm.controls['expiry_date']?.touched"
                            class="text-danger">
                            Expiry date is required.
                        </div>
                    </div>
                </div>
                <div class="p-field">
                    <label for="fileUpload" class="block mb-3">Upload Files</label>
                    <p-fileUpload name="demo[]" mode="advanced" [multiple]="false" [maxFileSize]="1000000"
                        customUpload="true"
                        accept="image/*,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                        (onSelect)="onFileSelect($event)">
                        <ng-template #empty>
                            <div>Drag and drop files here to upload (Image, PDF, Word).</div>
                        </ng-template>
                    </p-fileUpload>
                </div>
            </div>
            <div class="p-formgrid p-grid mt-4" style="display: flex; justify-content: space-between; gap: 1rem;">
                <p-button pButton pRipple label="Cancel" icon="pi pi-times" text (click)="onCancel()"
                    class="p-button-rounded"></p-button>

                <p-button pButton pRipple type="submit" label="Save" icon="pi pi-check"
                    [disabled]="announcementForm.invalid" class="p-button-rounded"></p-button>
            </div>

        </form>
    </ng-template>
</p-dialog>