<form [formGroup]="form" (ngSubmit)="onSave()" class="flex flex-col md:flex-row gap-8">
    <div class="w-full">
    <div class="card flex flex-col gap-4">

        <!-- Title -->
        <div class="p-field w-full">
            <label for="title" class="block font-bold mb-3">Title<strong class="text-danger">*</strong></label>
            <input 
            id="title" 
            type="text" 
            pInputText 
            class="w-full" 
            formControlName="title" 
            name="title"
            required 
            autocomplete="off" 
            [ngClass]="{ 'p-invalid': submitted && f['title'].errors }" />
                <div *ngIf="(submitted || f['title'].touched) && f['title'].errors">
                    <small class="text-red-600" *ngIf="f['title'].errors['required']">Title is required</small>
                    <small class="text-red-600" *ngIf="f['title'].errors['minlength']">Title must be at least {{ f['title'].errors['minlength'].requiredLength }} characters.</small>
                    <small class="text-red-600" *ngIf="f['title'].errors['maxlength']">Title cannot exceed  {{ f['title'].errors['maxlength'].requiredLength }} characters.</small>
                    <small class="text-red-600" *ngIf="f['title'].errors?.['xssSqlDetected']">Invalid characters detected (XSS / SQL keywords blocked)</small>
                </div>
        </div>

        <!-- Message -->
        <div class="p-field w-full">
            <label for="message" class="block font-bold mb-3">Message Body<strong class="text-danger">*</strong></label>
            <p-editor 
            name="message" 
            id="message" 
            class="w-full"  
            formControlName="message" 
            [style]="{ width: '100%', height: '320px' }"
            autocomplete="off" 
            required
            ></p-editor>
            <div *ngIf="(submitted || f['message'].touched) && f['message'].errors">
                    <small class="text-red-600" *ngIf="f['message'].errors['required']">Message is required</small>
                    <small class="text-red-600" *ngIf="f['message'].errors['minlength']">Message must be at least {{ f['message'].errors['minlength'].requiredLength }} characters.</small>
                    <small class="text-red-600" *ngIf="f['message'].errors['maxlength']">Message cannot exceed  {{ f['message'].errors['maxlength'].requiredLength }} characters.</small>
                    <small class="text-red-600" *ngIf="f['message'].errors?.['xssSqlDetected']">Invalid characters detected (XSS / SQL keywords blocked)</small>
                </div>
        </div>

        <!-- Audience -->
        <div class="p-field w-full">
            <label class="block font-bold mb-3">Audience <strong class="text-danger">*</strong></label>
            <!-- Flex Row -->
            <div class="flex items-center gap-6 flex-wrap">
                <div class="flex items-center gap-2">
                    <p-radiobutton id="category1" name="audience" value="ROLE_MAKER" formControlName="audience" required />
                    <label for="category1">Branch Users</label>
                </div>

                <div class="flex items-center gap-2">
                    <p-radiobutton id="category2" name="audience" value="ROLE_REVIEWER" formControlName="audience" required />
                    <label for="category2">Branch Managers</label>
                </div>

                <div class="flex items-center gap-2">
                    <p-radiobutton id="category3" name="audience" value="ROLE_APPROVER" formControlName="audience" required />
                    <label for="category3">Ho Users</label>
                </div>

                <div class="flex items-center gap-2">
                    <p-radiobutton id="category4" name="audience" value="ALL" formControlName="audience" required />
                    <label for="category4">All</label>
                </div>
            </div>

            <div *ngIf="(submitted || f['audience'].touched) && f['audience'].errors">
                <small class="text-red-600" *ngIf="f['audience'].errors['required']">Audience selection is required</small>
            </div>
        </div>

        <!-- Dates -->
        <div class="grid grid-cols-12 gap-4 w-full">
            <div class="col-span-6">
                <label for="created_date" class="block font-bold mb-3">Posting Date <strong class="text-danger">*</strong></label>
                <p-datepicker 
                id="created_date"
                inputId="created_date"
                class="w-full"
                formControlName="created_date"
                name="created_date"
                dateFormat="dd-mm-yy"
                [showIcon]="true"
                [readonlyInput]="true"
                placeholder="Select posting date"
                required
        ></p-datepicker>
    </div>

    <div class="col-span-6">
        <label for="expiry_date" class="block font-bold mb-3">Expiry Date <strong class="text-danger">*</strong></label>
        <p-datepicker 
            id="expiry_date"
            inputId="expiry_date"
            class="w-full"
            formControlName="expiry_date"
            name="expiry_date"
            dateFormat="dd-mm-yy"
            [showIcon]="true"
            [readonlyInput]="true"
            placeholder="Select expiry date"
            [minDate]="today"
        ></p-datepicker>
    </div>
</div>

<!-- File Edit Switch -->
 <div *ngIf="isEdit" class="w-full mt-4">
    <label class="block font-bold mb-3">Open switch button to update files</label>
    <p-toggleswitch formControlName="isFileEdited" name="isFileEdited" class="w-full" />
</div>
 
<!-- File Upload -->
 <div *ngIf="!isEdit || announcement.isFileEdited" class="w-full">
    <label class="block font-bold mb-3">File</label>
    <p-fileUpload
    class="w-full" 
    name="demo[]" 
    mode="advanced" 
    [multiple]="true" 
    customUpload="true"
    [maxFileSize]="1000000"
    accept="image/*,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
    (onSelect)="onFileSelect($event)" 
    (onClear)="onFileClear()" 
    (onRemove)="onFileRemove($event)"
    [style]="{ width: '100%' }">
    <ng-template #empty>
        <div>Drag and drop files here to upload.</div>
    </ng-template>
</p-fileUpload>
</div>
</div>

    <!-- ACTION BUTTONS -->
    <div class="flex justify-left gap-4 mt-6">
        <button 
        pButton 
        pRipple 
        type="submit" 
        label="Save" 
        icon="pi pi-check"
        class="p-button-rounded p-button-outlined p-button-success w-32"
        [disabled]="form.invalid">
    </button>

        <button 
        pButton 
        pRipple 
        label="Cancel" 
        icon="pi pi-times" 
        class="p-button-rounded p-button-outlined p-button-danger w-32"
        (click)="onCancel()">
    </button>
    </div>
    </div>
</form>